version: '3.3'

services:
  claits-chatgpt-gui:
    image: claitz/claits-chatgpt-gui:latest
    container_name: claits-chatgpt-gui
    ports:
      - "3001:3001"
      - "5000:5000"
    environment:
      - REACT_APP_FRONTEND_HOST=http://claits-chatgpt-gui:5000
      - REACT_APP_BACKEND_LISTEN_PORT=3001
      - REACT_APP_BACKEND_HOST=http://claits-chatgpt-gui:3001
      - REACT_APP_IMAGE_REQUEST=/i
      - MONGO_USERNAME=chatgpt
      - MONGO_PASSWORD=chatgpt
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB_NAME=chagpt-db

  mongo:
    image: mongo:5.0
    container_name: claits-chatgpt-gui-mongo
    volumes:
      - chatgpt-gui-persistence:/data/db
      - chatgpt-gui-persistence:/data/configdb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=chatgpt
      - MONGO_INITDB_ROOT_PASSWORD=chatgpt

volumes:
  chatgpt-gui-persistence: