.App {
  height: 100vh;
  text-align: center;
  background-color: #121212;
  color: #fff;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  padding: 1rem;
}

.chatbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding-left: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .chatbox {
    height: calc(100vh - 250px);
  }
}

.message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  padding-right: 1rem;
  flex: 1;
  overflow-y: auto;
}

.settings {
  margin-bottom: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  position: relative;
  background-color: #222;
  z-index: 2;
  padding: 1rem;
  border-radius: 1rem;
  width: 50%;
  max-height: 90vh;
  overflow: auto;
  color: #fff;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #999;
}

.message {
  background-color: #333;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 50%;
  word-wrap: break-word;
}

.bot {
  align-self: flex-start;
  text-align: left;
  color: #fff;
}

.user {
  align-self: flex-end;
  background-color: #251e36;
  color: #fff;
  text-align: right;
}

.message-timestamp {
  font-size: 0.8rem;
  color: #999;
  text-align: right;
}


.chat-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.chat-input input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #444;
  color: #fff;
}

.chat-input button {
  border: none;
  border-radius: 1rem;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  margin-left: 1rem;
}

.chat-input button:hover {
  background-color: #4fc3f7;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  padding: 1rem;
}

.modal-header:hover {
  background-color: #ddd;
}


.sidebar {
  width: 250px;
  background-color: #222222;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.new-chat-button {
  background-color: #444;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.sidebar-chat-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar-chat-list li {
  margin-bottom: 0.5rem;
  background-color: #333333;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  cursor: pointer;
}

.sidebar-chat-list li:hover {
  background-color: #666;
}

.selected {
  background-color: #444444;
  font-weight: bold;
}

.chat-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.delete-chat-button {
  background-color: transparent;
  color: #999;
  padding: 0;
  margin-left: 1rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.settings select {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.settings input[type="text"] {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
