name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        if: contains(github.event.head_commit.message, 'BUILD')
        run: docker build -t my-dockerhub-username/my-docker-image-name:latest .

      - name: Push Docker Image
        if: contains(github.event.head_commit.message, 'BUILD')
        run: docker push my-dockerhub-username/my-docker-image-name:latest
